<h1>Formulario Fútbol</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="futbolForm">

  <fieldset>
    <label for="name">Nombre Jugador:</label>
    <input type="text" id="name" formControlName="name">
  </fieldset>

  <fieldset>
    <label for="age">Edad Jugador:</label>
    <input type="number" id="age" formControlName="age">
  </fieldset>

  <fieldset>
    <label for="ciudad">Ciudad Jugador:</label>
    <input type="text" id="ciudad" formControlName="ciudad">
  </fieldset>

  <fieldset>
    <label for="email">Email Jugador:</label>
    <input type="email" id="email" formControlName="email">
  </fieldset>

  <button type="submit" [disabled]="!futbolForm.valid">Enviar Datos</button>

</form>

<div>
  <h1>Lista Fútbol</h1>
  <app-futbol-list [futbolCompleted]="futbolCompleted"></app-futbol-list>
</div>
